* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Main */

.mainView{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
}

/* Header */

.header{
    position: relative;
    z-index: 2;
    left: 230px;
    width: calc(100% - 230px);
    height: 90px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 139, 0.5);
}

.btn{
    padding: 7px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 250ms ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.btn:focus{
    transform: scale(0.9);
    opacity: .6;
}

.btn:active{
    background-color: #ADFF2F;
}

.btn_white{
    color: #fff;
    text-transform: uppercase;
}

.btn_border{
    border: 1px solid #fff;
}

/* SideBar */

.sideBar{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 230px;
    height: calc(100% - 90px);
    background-color: darkcyan;
}

/* Controls Player */

.controlsPlayer{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: darkgoldenrod;
}

/* Main */

.main{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    height: calc(100% - 90px);
    overflow-y: auto;
    background-color: darkgreen;
}

/* Media Query */

@media only screen and (max-width: 500px) {
    .sideBar{
        width: 50px;
    }
    .header{
        left: 50px;
        width: calc(100% - 50px);
    }
    .main{
        left: 50px;
        width: calc(100% - 50px);
        height: calc(100% - 90px);
    }
}